#input-form{
    text-align: center;
}

#good-luck{
    text-align:center;
    font-size: 30px;
}

#button{
    text-align:center;
}
#timer-done{
    text-align: center;
}
.background{
    background-color: aquamarine;
    margin: 0px;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 15%;
}

h1{
    margin-top: 0px;
}